<?xml version='1.0' encoding='utf-8'?>

<widget id="ch.ekouejojo.typestable" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" defaultlocale="en">
	<name>Types Table</name>
	<description>Calculator for the affinities and coverage of pokémon</description>
	<author email="ekouejojo@gmail.com">EkoueJojo</author>
	<content src="index.html" />
	<icon src="./www/img/AppIcon.png" />
</widget>