/*
 * Project : Types Table
 * Author : EkoueJojo
 * Date : 15/11/22
 */

:root
{
	color-scheme: light dark;
	box-sizing: border-box;
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	user-select: none;
	overflow: hidden;
}

header
{
	display: grid;
	grid-template-columns: auto 90px;
	grid-template-rows: 100%;
	width: 100%;
	height: 10%;
}

h1
{
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	margin: auto;
	line-height: 1.5em;
	font-size: 3.5vh;
}

h2, h3
{
	margin: 0;
}

nav
{
	grid-row: 1 / 1;
	grid-column: -2 / -2;
}

main
{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 42.5% 57.5%;
	width: 100%;
	height: 90%;
	text-align: center;
}

button
{
	border: none;
	border-radius: 5px;
	font-size: medium;
}

img
{
	display: block;
}

.DropdownButton
{
	width: 100%;
	height: 50%;
	display: block;
	appearance: none;
	color: white;
	background-color: crimson;
	text-align: center;
	border-radius: 5px;
	border: solid thin darkred;
	margin: 0;
}

.TypeButton
{
	aspect-ratio: 3 / 1;
	background-color: lightgray;
	transition: background-color 0.25s;
}

.TabButton
{
	border: solid thin;
}

.Selected
{
	background-color: lime;
}

.TitleContainer
{
	height: 15%;
}

.AffinitiesLine
{
	width: 100%;
}

.AffinitiesLine .TypeIcon
{
	width: 100%;
	height: 100%;
	margin: auto;
}

.AffinitiesLineMultiplier
{
	height: 100%;
	color: white;
	border: solid 2px darkred;
	background-color: crimson;
	padding: 2px;
	padding-top: initial;
	padding-bottom: initial;
	margin: 0;
	margin-right: 5px;
}

.AffinitiesLineMultiplier h3
{
	width: max-content;
	margin: auto;
}

.AffinitiesContainer
{
	height: 100%;
	display: flex;
}

.CoverageContainer
{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.CoverageLine .TypeIcon
{
	margin: 5px;
}

.CoverageLine h3
{
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: lightblue;
}

.CoverageContainer > .TypeIcon
{
	height: fit-content;
	margin: auto;
	padding: 5px;
}

.TypeIcon
{
	max-width: 10vw;
}

.TypeCombo
{
	display: grid;
	width: fit-content;
	height: fit-content;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 33.33% 33.33% 33.33%;
	padding: 5px;
	margin: auto;
}

.TypeCombo .TypeIcon:nth-child(odd)
{
	position: relative;
	z-index: 1;
	grid-area: 1 / 1 / span 2 / span 2;
}

.TypeCombo .TypeIcon:nth-child(even)
{
	position: relative;
	grid-area: 2 / 2 / span 3 / span 3;
}

#TypesTable img
{
	width: 90%;
	max-height: 2.75vh;
	margin: auto;
}

#ButtonsContainer
{
	width: 100%;
	height: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}

#ButtonsContainer table
{
	height: 90%;
	border-collapse: collapse;
	margin: auto;
	padding: 0;
}

#ButtonsContainer tbody
{
	width: 100%;
	height: 100%;
}

#ButtonsContainer td
{
	padding: 5px;
}

#ResetButton
{
	background-color: dodgerblue;
	color: white;
	text-transform: uppercase;
}

#ResultsContainer
{
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	width: 100%;
	height: 100%;
}

#TabButtonsContainer
{
	width: 100%;
	height: 7.5%;
}

#AffinitiesSection
{
	width: 100%;
	height: fit-content;
}

#AffinitiesSection table
{
	width: 100%;
	border-spacing: 5px;
}

#AffinitiesSection td
{
	padding: 0;
}

#CoverageSection
{
	height: 92.5%;
}

#Coverage
{
	height: 85%;
	overflow-y: scroll;
}

#CoverageInfo
{
	width: 100%;
	background-color: aqua;
}

@media (prefers-color-scheme: dark)
{
	.CoverageLine h3
	{
		background-color: #638C99;
	}

	.TypeButton
	{
		background-color: darkslategray;
	}

	.TabButton
	{
		background-color: darkslategray;
	}

	.Selected
	{
		background-color: forestgreen;
	}

	#ResetButton
	{
		background-color: darkcyan;
	}
}

@media (orientation: landscape)
{
	h1
	{
		grid-column: 1 / -1;
	}

	header
	{
		grid-template-columns: auto 190px;
	}

	nav
	{
		display: flex;
	}

	main
	{
		display: flex;
	}

	.DropdownButton
	{
		height: 100%;
	}

	.AffinitiesLine .TypeIcon
	{
		width: 60%;
		max-width: 10vw;
		max-height: 10vh;
	}

	.CoverageLine
	{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		border-bottom: solid thin silver;
	}

	.TypeIcon
	{
		max-width: 5vw;
	}

	.CoverageLine h3
	{
		width: min-content;
		background-color: initial;
		align-self: flex-start;
	}

	#ResultsContainer
	{
		height: initial;
	}

	#TypesTable button
	{
		width: 85%;
	}

	#TypesTable img
	{
		max-height: 6.75vh;
	}

	#AffinitiesSection table
	{
		height: 85%;
		overflow-y: scroll;
	}
}